.circles {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    .circleBlue, .circleRed, .circleGreen {
        // background: linear-gradient(90deg,rgba(16, 99, 81, 0.7),rgba(62, 188, 127, .8));
        border: 1px solid rgba(30,30,30, .4);
        width: 120px;
        height: 120px;
        margin: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    // .circleBlue {
    //     background: rgba(52, 152, 219, .7);
    // }

    // .circleRed {
    //     background: rgba(231, 76, 60, .7);
    // }

    // .circleGreen {
    //     background: rgba(46, 204, 113, .7);
    // }
}