.bodyContainer{
    width: 500px;
    height: 550px;
    background: radial-gradient(circle at 100px 100px, #344c9c, #3498db);
    position: relative;
    border-radius: 50%;
    z-index: -1;
    top: -135px;
}