.timelineMarker {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(30, 30, 30, .5);
    border: 3px solid rgba(190, 208, 233, .5);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.timelineLink {
    position: relative;
    width: 5px;
    height: 200px;
    background: rgba(30, 30, 30, .5);
}